
h1{
    font-family: "Press Start 2P", sans-serif;
    font-size: 5em;
    color: #EEEEEE;
    text-align: center;
}
h2{
    font-family: "Chango", 'Times New Roman', Times, serif;
    font-size: 2em;
    color: #DC5F00;
}
h3{
    font-family: "Chango", 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: #DC5F00;
}
p, li{
    font-family: "Amaranth", sans-serif;
    font-size: 1.3em;
    color: #EEEEEE;

}
body{
    background-color: #CF0A0A;
}
img{
    border: 2px grey solid;
}
div{
    background-color: #000000;
    padding: 20px;
    border: 4px solid #DC5F00;
}